<input #searchInput type="text" placeholder="Search" name="search" >
<button class="btn" (click)="onClickSearch(searchInput.value)"> Search </button>
<input type="checkbox" name="checkedSearch" [checked]="checkedSearch" (change)="changeStatus('UserId',$event)">UserId
<input type="checkbox" name="checkedSearch" [checked]="checkedSearch" (change)="changeStatus('Id',$event)">Id
<input type="checkbox" name="checkedSearch" [checked]="checkedSearch" (change)="changeStatus('Title',$event)">Title
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">userId</th>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">completed</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todosClone | slice:pageInit:pageEnd;">
        
        <td style="vertical-align: middle;"> 
            {{todo.userId}}
        </td>
        <td style="vertical-align: middle;"> 
            {{todo.id}}
        </td>
        <td style="vertical-align: middle;"> 
            {{todo.title}}
        </td>
        <td style="vertical-align: middle;"> 
            {{todo.completed}}
        </td>
        <td style="vertical-align: middle;"> 
            <button class="btn" (click)="onClickDelete(todo)">delete</button>
        </td>
            
                </tr>
                   
      
    </tbody>
    <button class="btn" (click)="onPrec()">Previous</button>
    <button class="btn" (click)="onNext()">next</button>
    
  </table>